@charset "UTF-8";
/* CSS Document */

/******** GLOBAL STYLES ********/

body {
  margin: 0px;

  /* Background image from http://subtlepatterns.com/ */
  background: url('../img/symphony.png') repeat;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: DimGray;
}

#wrapper {
  margin-top: 150px;
}

/******** HEADER STYLES ********/

h1 {
  color: tomato;
}

h2 {
  color: Salmon;
}

/******** LOCAL STYLES ********/

h1.name {
  margin-bottom: 0px;
  border: 10px solid tomato;
  padding: 30px;
  display: inline;
}

h2.title {
  margin-top: 40px;
  padding: 30px;
}

.line-break {
  border: 1px solid grey;
  margin: 30px auto;
  width: 50%;
}

.phone-number {
  color: DarkSeaGreen;
}

a.eMail {
  color: DarkSeaGreen;
  text-decoration: none;
}

.inspirational-quote {
  font-style: italic;
  font-size: 20px;
  margin-top: 50px;
  line-height: 30px;
}
